#id-1 {
  background-color: green;
}
#id-2 {
  background-color: red;
}
#id-3 {
  background-color: rgb(86, 103, 126);
}
#id-4 {
  background-color: rgb(15, 62, 126);
}

.contaniner {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  max-width: 100%;
}

.f-img {
  width: 200px;
  size: 200px;
  margin: 18px;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 270px;
  margin: 8px;
  font-variant-position: sub;
  font-size: small;
}

.c-img {
  width: 100%;
  height: 100px;
}

.headsize {
  width: 1200px;
  height: 120px;
  background-color: rgb(42, 110, 165);
}

.h-img {
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.size {
  width: 1200px;
  height: 200px;
  display: flex;
  align-items: center;
}

.card:hover {
  background-color: chocolate;
  border: 8px solid saddlebrown;
  font: size 23px;
}

button {
  background-color: rgb(238, 255, 0);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
